/* Navbar.css */
nav {
  background-color: #282c34;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav a:hover {
  background-color: #444;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
}
