/* src/App.css */
body {
  /* Gradient Background */
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);

  /* Estilos adicionales para la página */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white; /* Texto en blanco para mayor legibilidad en el fondo oscuro */
}

.home,
.catalog,
.movie-detail {
  margin: 20px;
  padding: 10px;
}

.catalog ul {
  list-style: none;
  padding: 0;
}

.catalog li {
  margin-bottom: 5px;
}

.movie-detail img {
  width: 100%;
  max-width: 500px;
}

a {
  text-decoration: none;
}

.title {
  color: lime;
}
